@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.cdnfonts.com/css/belanosima');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Belanosima', sans-serif;
                                        
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

#logo {
    font-family: 'Pokemon Solid', sans-serif;
    color: #fffb1d;
    font-size: 3rem;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #2189dd;
    -webkit-animation-direction: alternate;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

.pokedex {
    width: 100%;
    height: 90%;
    max-height: 600px;
    max-width: 450px;
}

.pokemon_image {
    position: absolute;
    left: 38%;
    bottom: 42%;
    
}

.pokemon_data {
    position: absolute;
    width:65%;
    display: flex;
    gap: 1.4px;
    font-weight: 600;
    color: #fff;
    top: 64%;
    right: 25%;
    text-align: center;
    text-transform: capitalize;
    transform: translate(20%, 0);
    font-size: clamp(10px, 10vw, 28px);
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: #000;
    
}

.form {
    position: absolute;
    width: 100%;
    bottom: 22%;
    left: 0%;
}

.input_search {
    width: 80%;
    padding: 2%;
    outline: none; 
    border: 2px solid #afe0f3;
    background-color: #caf8f8;
    border-radius: 15px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 0.9rem);
}

.button {
    color: #b5e7f0; 
    background-color: transparent;
    border: none;
    border-radius: 25%;
    font-size: 4.4rem;
    position: absolute;
    top: 50%;
    cursor: pointer;
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: #ffffff; 
    transition: all 0.2s ease;
}

.button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(0.95); 

}

.btn-prev {
    right: 75%;
}

.btn-next {
    left: 75%;
}

